body{
  background-color: black;

}
.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vh;
  width: 5vw;
  align-self: right;
  position: absolute;
  left: 0;
  top:0;
}

.App-header {
  padding-left: 5vw;
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  align-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: black 1px solid;

}

.App-log {
  color: #61dafb;
  height: 95vh;
  width: 100vw;
}


table{
  font-size: .8vw;
}
th{
  font-size: 1vw;
  margin-right: 1vw;
  text-align: left;
  color: white;
}
td{
  padding-right: 1vw;
  text-align: left;
}

.count { 
  color: #61dafb; 
  font-weight: bold; 
  font-size: 1vw; 
  margin: .5vw;
}

#log{
  font-size: .8vw;
  width:14vw;
  height:100vh;
  float: left;
  background-color: #282c34;
  overflow: scroll;
  padding-left: .5vw; 
  padding-top: .5vw; 
}
#events{
  float: left;
  height: 20vh;
  width: 85vw;
  overflow:scroll;
  font-size: 1vw;
}
#term {
  float: left;
  height: 70vh;
  width: 85vw;
  font-size: .8em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
