.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 5vmin;
  width: 4vw
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  align-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-log {
  background-color: black;
  color: #61dafb;
  min-height: 95vh;
}

table{
  width: 100vw;
}
.circle{
  font-size:1vw;
  color:white; 
  text-align:center;
  overflow:hidden; 
  float: left; 
  background: #282c34; 
  width: 6vw; 
  height: 6vw; 
  border-radius:5vw;
  padding:1vw;
  border:1pt black solid
}
.circle span { color: #61dafb; font-weight: bold; font-size: 2vw }

#count_holder{
  float: left;
  width: 100vw;
  height: 40vh;
}

#log{
  font-size: 1vw;
  width:100vw;
  height: 60vh;
  float: left;
  overflow:scroll;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
